<div class="ui left vertical demo icon sidebar menu">
    <div class="tr box-default nav-vertical">
        <div class="box-header">Globals</div>
        <div class="box-section">
            <ul>
                <li><a href="index.html">Site</a></li>
            </ul>
        </div>
    </div>
    <div class="tr box-default nav-vertical">
        <div class="box-header">Collections</div>
        <div class="box-section">
            <ul>
                <li><a href="form.html">Form</a></li>
                <li><a href="message.html">Message</a></li>
                <li><a href="table.html">Table</a></li>
            </ul>
        </div>
    </div>
    <div class="tr box-default nav-vertical">
        <div class="box-header">Elements</div>
        <div class="box-section">
            <ul>
                <li><a href="buttons.html">Buttons</a></li>
                <li><a href="icon.html">Icons</a></li>
                <li><a href="image.html">Image</a></li>
                <li><a href="input.html">Input</a></li>
                <li><a href="loader.html">Loader</a></li>
            </ul>
        </div>
    </div>
    <div class="tr box-default nav-vertical">
        <div class="box-header">Components</div>
        <div class="box-section">
            <ul>
                <li><a href="breadcrumb.html">Breadcrumb</a></li>
                <li><a href="box.html">Box</a></li>
                <li><a href="busca.html">Busca</a></li>
                <li><a href="carousel.html">Carousel</a></li>
                <li><a href="filter.html">Filters</a></li>
                <li><a href="grid.html">Grid</a></li>
                <li>
                    <div class="ui accordion">
                        <a class="title">
                            <i class="dropdown icon"></i>
                            List
                        </a>
                        <ul class="content">
                            <li><a href="list.html">Default</a></li>
                            <li><a href="list-cards.html">Cartões</a></li>
                            <li><a href="list-address.html">Endereços</a></li>
                            <li><a href="list-prod-cart.html">Produtos Cart</a></li>
                            <li><a href="list-prod-buy-together.html">Produtos Buy Together</a></li>
                            <li><a href="list-prod-checkout.html">Produtos Checkout</a></li>
                            <li><a href="list-prod-tamanho.html">Produtos Tamanho</a></li>
                            <li><a href="list-prod-bundle.html">Produtos Bundle</a></li>
                            <li><a href="list-prod-pedidos.html">Produtos Pedidos</a></li>
                            <li><a href="list-prod-catalog.html">Produtos Catalog</a></li>
                            <li><a href="list-prod-wishlist.html">Produtos Wishlist</a></li>
                            <li><a href="list-comentarios.html">Comentários</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="nav.html">Nav</a></li>
                <li><a href="swipe.html">Swipe</a></li>
                <li><a href="tag.html">Tag</a></li>
                <li><a href="text.html">Text</a></li>
            </ul>
        </div>
    </div>
    <div class="tr box-default nav-vertical">
        <div class="box-header">Modules</div>
        <div class="box-section">
            <ul>
                <li><a href="accordion.html">Accordion</a></li>
                <li><a href="dropdown.html">Dropdown</a></li>
                <li><a href="modal.html">Modal</a></li>
                <li><a href="popup.html">Popup</a></li>
                <li><a href="rating.html">Rating</a></li>
                <li><a href="search.html">Search</a></li>
                <li><a href="sidebar.html">Sidebar</a></li>
                <li><a href="sticky.html">Sticky</a></li>
                <li><a href="tab.html">Tab</a></li>
                <li><a href="transition.html">Transition</a></li>
            </ul>
        </div>
    </div>
    <div class="tr box-default nav-vertical">
        <div class="box-header">Tricae</div>
        <div class="box-section">
            <ul>
                <li><a href="ordenacao.html">Ordenação</a></li>
            </ul>
        </div>
    </div>
</div>

<script type="text/javascript">

    //Accordion
    $('.ui.accordion')
            .accordion()
    ;

    //Menu
    $(document).ready(function(){
        $('#buttonMenu').show();
        $('#buttonMenu').mmenu();
    });

</script>